<div class="header mb-4 px-5">
  <div class="title-container">
    <h3 class="title">Genres</h3>
  </div>
  <div class="subtitle-container">
    <%= link_to movies_url do %>
      <h4 class="subtitle">Movies</h3>
    <% end %>
  </div>
</div>

<div class="cards mx-5">
  <% @lists.each_with_index do |list, index| %>
  <%= link_to list do %>
    <div class="card-category" id="genre<%= index + 1 %>">
      <%= list.name %>
    </div>
  <% end %>
  <% end %>
</div>
