.header {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 220px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: url(asset_path("banner.jpg"))
}

.title-container {
  // height: 200px;
  // display: flex;
}

.title, .subtitle {
  // align-items: flex-end;
  color: white;
}
